<p class="card-text">
    Suivant réquisition n°
    <a href="{% url 'single_requisition' number=requisition.number %}">{{requisition.number}}</a>
    déposée le {{requisition.date|date:"d F Y"}},
    {% if requisition.author.person %}
    {{requisition.author.person.get_gender_display}} {{requisition.author.get_full_name}},
    {{requisition.author.person.profession|upper}} demeurant à
    {{requisition.author.person.address}}
    et domicilié(es) à {{requisition.author.person.residence}},
    {{requisition.get_quality_display}}
    et de nationalité {{requisition.author.person.nationality}},
    {% else %}
    l'entreprise {{requisition.author.get_full_name}}, {{requisition.get_quality_display}},
    {% endif %}

    {% for other in requisitions.co_owner %}
    {% if other.person %}
    {{other.person.get_gender_display}} {{other.get_full_name}},
    {{other.person.profession|upper}} demeurant à {{other.person.address}}
    et domicilié(es) à {{other.person.residence}}, de nationalité {{other.person.nationality}},
    {% else %}
    l'entreprise {{other.get_full_name}},
    {% endif %}
    {% endfor %}

    demande(nt) l’immatriculation au livre foncier de la République Togolaise
    d’un immeuble {{requisition.get_type_display}}, consistant en un terrain
    ayant la forme d’un quadrilatère irrégulier d’une contenance totale de
    {{requisition.area_a}}a {{requisition.area_ca}}ca, situé à {{requisition.quarter}}
    connu sous le nom de {{requisition.real_name}}, préfecture de(s) {{requisition.prefecture}}
    et borné:
<ul class="list-unstyled">
    <li>Au Nord par {{requisition.north}}</li>
    <li>Au Sud par {{requisition.south}}</li>
    <li>A l’Est par {{requisition.east}}</li>
    <li>A l’Ouest par {{requisition.western}}</li>
</ul>
</p>
<p class="card-text">
    {% if requisition.author.person %}
    {% if requisition.author.person.gender == 'F' %}Elle
    {% else %}Il{% endif %}
    {% else %}Il{% endif %}
    déclare(nt) que ledit immeuble lui appartient et n’est à
    sa/leur connaissance grevé d’aucuns droits ou charges
    réels, actuels ou éventuels.
</p>

{% if requisition.state_set.first.state == 'A' %}
<div class="social text-end">
    <small class="me-5">
        Partager:
    </small>
    <div class="">
    {% with id=requisition.number|stringformat:"s" %}
    {% with url="localhost:8000/requisitions/"|add:id %}
    
    <a onclick="copyLink()" title="Copier le lien de la page"><i class="fa fa-copy text-black"></i></a>
    <input type="hidden" value="{{url}}" id="url">

    <a
        href="https://www.facebook.com/sharer.php?u=www.jscorporationtogo.com&m=J'aimerais partager cette demande d'immatriculation avec vous. {{url}}">
        <i class="bi bi-facebook text-primary"></i>
    </a>


    <a
        href="mailto:?subject=J'ai vu cette demande d'immatriculation qui pourrait t'intéresser&amp;body=Consulte ce lien pour en savoir plus sur la demande: {{ url }}">
        <i class="ni ni-email-83 text-red"></i>
    </a>

    <a
        href="https://www.twitter.com/share?url={{ url }}&text=J'aimerais partager cette demande d'immatriculation avec vous&hashtags=requisition,immatriculation,togoland,titre,foncier">
        <i class="bi bi-twitter text-primary"></i>
    </a>

    <a
        href="https://api.whatsapp.com/send?text=J'aimerais partager cette demande d'immatriculation avec toi. Consulte ce lien pour en savoir plus {{ url }}">
        <i class="bi bi-whatsapp text-success"></i></a>


    <!-- <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ url }}&summary=J'aimerais partager cette demande d'immatriculation avec vous&title=Immatriculation foncière au Togo&source=TogoLand">
        <i class="fa bi-linkedin text-primary"></i>
    </a> -->


    {% endwith %}
    {% endwith %}
</div>
</div>
{% endif %}

<script>
    function copyLink() {
        var text = document.getElementById('url');
        text.select();
        //text.setSelectionRange(0, 99999); /* For mobile devices */
        /* Copy the text inside the text field */
        navigator.clipboard.writeText(text.value);

        /* Alert the copied text */
        //alert("Copied the text: " + text.value);
    };
</script>