{% extends 'layouts/base.html' %}
{% block title %}Utilisateurs{% endblock%}

{% block content %}
<div class="header bg-gradient-success pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Tous les utilisateurs</h6>
                    </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="card-header border-0">
                    <h3 class="mb-0">LISTE DES UTILISATEURS</h3>
                    {% if message %}
                    <div class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="d-flex">
                            <div class="toast-body">
                                {{message}}
                            </div>
                            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast"
                                aria-label="Close"></button>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <!-- table -->
                <div class="table-responsive text-darker">
                    {% if users %}
                    <table class="display table text-darker" id="dataTable" style="width:100%">
                        <thead class="thead-light">
                            <tr>
                                <th class="text-wrap">Nom d'utilisateur</th>
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>Email</th>
                                <th>type</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            {% for u in users %}
                            <tr>
                                <td class="text-wrap">
                                    {{u.username}}
                                </td>
                                <td>{{u.last_name}}</td>
                                <td>{{u.first_name}}</td>
                                <td>{{u.email}}</td>
                                <td class="text-wrap">
                                    {% if u.last_name == '' %}
                                    Entreprise
                                    {% else %}
                                    <form action="{% url 'change_role' %}" method="post" id="form" onsubmit="return confirm('Vous êtes sûr de vouloir modifier le rôle de cet utilisateur?')">
                                        {% csrf_token %}
                                        <input type="hidden" name="username" value="{{u.username}}">
                                        <select name="type" id="type">
                                            {% for t in types %}
                                            <option value="{{t.0}}" {% if u.person.type == t.0 %} selected {% endif %}>
                                                {{t.1}}
                                            </option>
                                            {% endfor %}
                                        </select>
                                        <button type="" class="btn btn-danger mt-2">Changer
                                            son rôle</button>
                                    </form>
                                    {% endif %}
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <a class="btn btn-sm btn-icon-only" href="#" role="button"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                        </div>
                                    </div>
                                </td>

                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <p class="text-center">Aucun utilisateur enregistré.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

</div>


<script>
    function onSubmit() {
        return confirm('Vous êtes sûr de vouloir modifier le rôle de cet utilisateur?')
    }
</script>
{% endblock %}
