{% extends 'main/base.html' %}

{% block content %}
{% load static%}
<div class="container">

</div>
{% endblock%}


Suivant réquisition, n° 93008 déposée le 16 décembre 2021
Mme GAYIBOR Isotso, profession : MENAGERE demeurant
à LOME et domicilié(es) à LOME, majeur(s) non interdit(s)
jouissant de ses droits civils et de nationalité Togolaise,
demande(nt) l’immatriculation au livre foncier de la
République Togolaise d’un immeuble rural non bâti ,
consistant en un terrain ayant la forme d’un quadrilatère
irrégulier d’une contenance totale de 12a 41ca, situé à
AFLAO GAKLI connu sous le nom de AVEDJI ,préfecture
de(s) Golf e et borné au Nord et au Sud par la
collectivité TOKO, à l’Est et à l’Ouest par des rues existantes
de 14 et 28m.
Elle déclare(nt) que ledit immeuble lui appartient et n’est à
sa/leur connaissance grevé d’aucuns droits ou charges
réels, actuels ou éventuels.
___