{% extends 'main/base.html' %}
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
{% block title %}Facturation{% endblock%}

{% block content %}
{% load static%}


<!--Register-->
<div class="container d-flex justify-content-center py-5">
    <div class="card col-md-10 col">
        <div class="card-body p-4">
          <div class="col d-flex justify-content-between align-middle">
            <img src="{% static 'img/otr.png' %}" alt="">
            <div class="m-2 text-center">
              <h4>REPUBLIQUE TOGOLAISE</h4> <br> Travail - Liberté - Patrie
            </div>
          </div>
            <h1 class="text-center">FACTURE</h1>
            <p class="card-text">
                <ul class="list-unstyled">
                    <li><u>Référence</u> : {{requisition.number}}</li>
                    <li>
                        <u>{% if requisition.author.person %}Nom{% else %}Raison sociale{% endif %}</u> : {{requisition.author.get_full_name}}
                    </li>
                    <li><u>Date de réquisition</u> : {{requisition.date}}</li>
                    <li><u>Désignation</u> : Demande d'immatriculation au livre foncier de la République Togolaise</li>
                    <li><u>Valeur vénale</u> : {{vv}}</li>
                </ul>
            </p>
            <table class="table table-striped table-responsive">
                <thead>
                  <tr>
                    <th scope="col">Droits</th>
                    <th scope="col">Taux</th>
                    <th scope="col">Montant</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Droit d'enregistrement</td>
                    <td>5%</td>
                    <td>{{register}} F</td>
                  </tr>
                  <tr>
                    <td>Taxes additionnelles</td>
                    <td>1%</td>
                    <td>{{taxe}} F</td>
                  </tr>
                  <tr>
                    <td>Conservation foncière</td>
                    <td>2%</td>
                    <td>{{safe}} F</td>
                  </tr>
                  <tr>
                    <td>Droit fixes</td>
                    <td></td>
                    <td>{{fixed}} F</td>
                  </tr>
                  <tr>
                    <td>Frais d’insertion au JORT</td>
                    <td></td>
                    <td>{{jort}} F</td>
                  </tr>
                  <tr>
                    <td>Frais de dépôtt</td>
                    <td></td>
                    <td>{{deposit}} F</td>
                  </tr>
                  <tr>
                    <td>TOTAL À PAYER</td>
                    <td></td>
                    <td>{{register|add:taxe|add:safe|add:fixed|add:jort|add:deposit}} F</td>
                  </tr>
                </tbody>
            </table>
            <p class="">
                <form method="post" action="{% url 'payment' number=requisition.number %}">
                    {% csrf_token %}
                    <button class="btn btn-primary text-center" type="submit">
                        <a href=""></a>PAYER
                    </button>
                </form>
            </p>
            <p class="text-end m-2">
                FEDERER POUR BATIR
              </p>
        </div>
    </div>
</div>
{% endblock %}